In [4]:
import pandas as pd

# File paths
input_file = "Amazon.csv"
output_file = "processed_output.csv"

print("====== INPUT DATA NULL CHECK ======")

# Read only a sample for safety
input_df = pd.read_csv(input_file)

# Find rows with at least one NULL value
input_null_rows = input_df[input_df.isnull().any(axis=1)]

print(f"Total input rows: {len(input_df)}")
print(f"Rows with NULL values in input: {len(input_null_rows)}")

# Display first 5 null rows
print("\nSample NULL rows from INPUT:")
print(input_null_rows.head())

# -----------------------------------

print("\n====== OUTPUT DATA NULL CHECK ======")

output_df = pd.read_csv(output_file)

output_null_count = output_df.isnull().sum().sum()

print(f"Total output rows: {len(output_df)}")
print(f"Total NULL values in output: {output_null_count}")

if output_null_count == 0:
    print("✅ OUTPUT DATA IS CLEAN (NO NULL VALUES)")
else:
    print("❌ OUTPUT DATA STILL CONTAINS NULL VALUES")

====== INPUT DATA NULL CHECK ======
Total input rows: 100000
Rows with NULL values in input: 12

Sample NULL rows from INPUT:
       OrderID   OrderDate  CustomerID  CustomerName ProductID  \
1   ORD0000002  30-12-2023  CUST000178   Pooja Kumar    P00040
6   ORD0000007  20-09-2024  CUST037667   Aarav Verma    P00030
11  ORD0000012  23-05-2023  CUST046088   Karan Kumar    P00042
15  ORD0000016  28-10-2023  CUST040957  Anjali Gupta    P00028
20  ORD0000021  12-08-2024  CUST041508  Vikas Kapoor    P00028

       ProductName           Category       Brand  Quantity  UnitPrice  \
1       Microphone     Home & Kitchen  UrbanStyle       1.0     251.37
6      Dress Shirt           Clothing  UrbanStyle       2.0     219.81
11  Projector Mini     Home & Kitchen    KiddoFun       5.0     346.56
15           Jeans  Sports & Outdoors    HomeEase       NaN     533.12
20           Jeans       Toys & Games        Apex       1.0     226.26

    Discount    Tax  ShippingCost  TotalAmount PaymentMethod OrderStatus  \
1       0.05    NaN          1.74       259.64    Amazon Pay   Delivered
6       0.20  28.14         14.97          NaN           UPI   Delivered
11      0.05    NaN         13.38      1791.23   Credit Card     Shipped
15      0.25  79.97          2.58      1681.91    Amazon Pay   Delivered
20      0.00    NaN          9.55       247.12   Credit Card   Delivered

            City State        Country   SellerID
1     Fort Worth    TX  United States  SELL01298
6        Chicago    IL      Australia  SELL01676
11     Charlotte    NC      Australia  SELL01160
15  Jacksonville    FL  United States  SELL00437
20    Fort Worth    TX  United States  SELL01947

====== OUTPUT DATA NULL CHECK ======
Total output rows: 100000
Total NULL values in output: 0
✅ OUTPUT DATA IS CLEAN (NO NULL VALUES)

In [5]:
import logging

logging.basicConfig(level=logging.INFO)

for chunk in pd.read_csv('Amazon.csv', chunksize=5000):
    logging.info(f"Processing batch of size {len(chunk)}")

INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000
INFO:root:Processing batch of size 5000